.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    position: fixed;
    z-index: 9;
    width: 100%;
    padding: 20px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.200);
}
.logo {
    width: 30px;
    height: 30px;
}
.header-nav,
.header-list {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-list {
    list-style: none;
}
.header-link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
}
.header-link:hover {
    color: var(--main-color);
}
.header-button {
    border: 1px solid transparent;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
    display: none;
}
.header-button:focus {
    border: 1px solid var(--main-color);
}
.header-button img {
    width: 30px;
    height: 30px;
}
@media (max-width: 768px) {
    .header-title {
        font-size: 14px;
    }
    .header-list {
        position: fixed;
        flex-direction: column;
        right: 0;
        top: 60px;
        background-color: var(--white);
        padding: 30px 20px;
        display: none;
        gap: 20px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.200);
        width: 100%;
        font-size: 12px;
    }
    .header-list.show {
        display: flex;
    }
    .header-button {
        display: block;
    }
}