.header {
	position: inherit;
}

main {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 80px 20px;
	gap: 40px;
}

.introduction-section p {
	text-align: justify;
	line-height: 1.5em;
}

.tasks-section {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.tasks-section h2 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 12px;
}

.tasks-section li {
	line-height: 1.5em;
}

.tasks-section li:before{
	content: " - ";
}

.references-section h3 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 12px;
}