@import url("reset.css");
@import url("variables.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;

}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    position: fixed;
    z-index: 9;
    width: 100%;
    padding: 20px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.200);
}

.header-title {
    font-weight: 600;
    font-size: 22px;
}

.header-nav,
.header-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-list {
    list-style: none;
}

.header-link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
}

.header-link:hover {
    color: var(--main-color);
}

.header-button {
    border: 1px solid transparent;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
    display: none;
}

.header-button:focus {
    border: 1px solid var(--main-color);
}

.header-button img {
    width: 30px;
    height: 30px;
}

/* Home */
.banner {
    background: url("../images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

#inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#inicio .container {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#inicio h2 {
    font-size: 2em;
    color: var(--white);
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.300);
}

#inicio p {
    color: var(--white);
    font-weight: 100;
    font-size: 1em;
    font-weight: 200;
}

#inicio button {
    background: transparent;
    border: none;
    position: absolute;
    bottom: 10%;
    animation: up-and-down 2s infinite;
}

/* About */
#sobre h3 {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}

.about-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 20px 60px;
    flex-wrap: wrap;
    padding-top: 80px;
}

.about-container img,
p {
    max-width: 500px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.about-container p {
    text-align: justify;
    line-height: 2em;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 50px;
    margin: 60px 0;
}

.card {
    max-width: 250px;
    width: 100%;
    flex: 0 0 auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card p {
    margin: 10px 0;
    font-size: 0.9em;
    text-align: center;
}

.tooltip {
    position: relative;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 230px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: normal;
    font-size: 0.8em;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Projects */
.iniciativas-banner {
    background: url("../images/banner2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iniciativas-banner h3 {
    font-size: 2em;
    font-weight: bold;
    color: var(--white);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.300);
    text-align: center;
}

#iniciativas a {
    color: var(--text-color);
    text-decoration: none;
}

/* Footer */
.footer {
    background-color: var(--main-color);
    padding: 50px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

.footer span {
    font-weight: bold;
    font-size: 1.5em;
    color: var(--white);
}

.footer li,
.footer a {
    font-size: 0.9em;
    color: var(--white);
    list-style: none;
    line-height: 1.5em;
    text-decoration: none;
}

.footer li:first-child {
    font-weight: bold;
}

.footer li:first-child::before {
    content: "";
}

.footer li::before {
    content: "🌿 ";
}

.footer img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    filter: brightness(0) invert(1);
}

/* Animations */
@keyframes up-and-down {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Medias */
@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-container p,
    .about-container img {
        max-width: 100%;
    }

    .about-container p {
        margin-bottom: 20px;
    }
}

@media (max-width: 900px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .cards {
        grid-template-columns: 1fr;
    }

    .footer {
        grid-template-columns: 1fr;
        justify-items: start;
        gap: 40px;
    }
}

@media (max-width: 425px) {
    .header-title {
        font-size: 14px;
    }

    .header-list {
        position: fixed;
        flex-direction: column;
        right: 0;
        top: 60px;
        background-color: var(--white);
        padding: 30px 20px;
        display: none;
        gap: 20px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.200);
        width: 100%;
        font-size: 12px;
    }

    .header-list.show {
        display: flex;
    }

    .header-button {
        display: block;
    }

    #inicio h2 {
        font-size: 1.8em;
    }

    #inicio p {
        font-size: 0.8em;
        text-align: center;
    }

    .iniciativas-banner h3 {
        font-size: 1.4em;
    }
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}